server:
  port : 8084
  address: 0.0.0.0

app:
  version: '@project.version@'
  title: '@project.bmsSummary@'
  test_front: "${APP_TEST_FRONT:false}"
  test_bot_debugging: "${APP_TEST_BOT_DEBUGING:false}"
  logs_limit: "${LOGS_LIMIT:100}"

dacha:
  settings:
    battery_critical_night_soc_charging: "${BATTERY_SOC_CRITICAL_NIGHT_CHARGING:60}"
    devices_change_handle_control: "${DEVICES_CHANGE_HANDLE_CONTROL_DACHA:false}"
    heater_night_auto_on_winter: "${HEATER_NIGHT_AUTO_ON_DACHA_WINTER:false}"
    heater_grid_auto_all_day: "${HEATER_GRID_AUTO_ALL_DAY_DACHA:false}"

golego:
  settings:
    devices_change_handle_control: "${DEVICES_CHANGE_HANDLE_CONTROL_GOLEGO:false}"
    heater_grid_auto_all_day: "${HEATER_GRID_AUTO_ALL_DAY_GOLEGO:false}"

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html

swagger:
  api_path: /api/**
  # The title on the API doc UI page
  title: "${SWAGGER_TITLE:Smart REST API}"

connector:
  jwt:
#    expires_in_sec: 3 hours
    expires_in_sec: 10800
  smart:
    user_login: "${USER_LOGIN:user}"
    user_password: "${USER_PWD:user}"
    admin_login: "${ADMIN_LOGIN:admin}"
    admin_password: "${ADMIN_PWD:secret}"
  tuya:
    ak: "${TUYA_AK:}"
    sk: "${TUYA_SK:}"
    region: "${TUYA_REGION:EU}"
    device_ids: "${TUYA_DEVICE_IDS:}"
    user_uid: "${TUYA_USER_UID:}"
  solarman:
    region: IN
    appid:
    secret:
    username:
    password:
    #    password-hash:
    logger-sn: "${CONNECTOR_SOLARMAN_LOGGER-SN:}"
smart:
  tuya:
    temp_set_min: "${TUYA_TEMP_SET_MIN:5}"
    temp_set_max: "${TUYA_TEMP_SET_MAX:24}"
    category_for_control_powers: "${TUYA_CATEGORY_FOR_CONTROL_POWERS:wk}"
  solarman:
    timeout-sec: "${SOLARMAN_TIMEOUT_SEC:120}"
    bat-soc-min-min: "${SOLARMAN_BAT_SOC_MIN_MIN:50.0}"
    bat-soc-min-max: "${SOLARMAN_BAT_SOC_MIN_MAX:80.0}"
    bat-soc-max: "${SOLARMAN_BAT_SOC_MAX:95.0}"
    bat-soc-alarm-warn: "${SOLARMAN_BAT_SOC_ALARM_WARN:70.0}"
    bat-soc-alarm-error: "${SOLARMAN_BAT_SOC_ALARM_ERROR:40.0}"
    station-consumption-power:  "${SOLARMAN_STATION_CONSUMPTION_POWER:50.0}"
    dop-power-to-max: "${DOP_POWER_TO_MAX:2000}"
    dop-power-to-min: "${DOP_POWER_TO_MIN:800}"
    seasons-id: "${SEASONS_ID:3}"

telegram:
  bot:
    dacha:
      username: "${TELEGRAM_BOT_USERNAME_DACHA:xxx}"
      token: "${TELEGRAM_BOT_TOKEN_DACHA:xxxx}"
      chat-id: "${TELEGRAM_CHAT_ID_DACHA:-100}"
    home:
      username: "${TELEGRAM_BOT_USERNAME_HOME:xxx}"
      token: "${TELEGRAM_BOT_TOKEN_HOME:xxxx}"
      chat-id: "${TELEGRAM_CHAT_ID_HOME:-100}"
    alarm:
      username: "${TELEGRAM_BOT_USERNAME_ALARM:xxx}"
      token: "${TELEGRAM_BOT_TOKEN_ALARM:xxxx}"
      chat-id: "${TELEGRAM_CHAT_ID_ALARM:-100}"

gmail:
  username: "${GMAIL_USERNAME:nick.kulikov21@gmail.com}"
  password: "${GMAIL_PWD:30i2139tan}"
#  recipient: "${GMAIL_RECIPIENT:default@example.com}"
  recipient: "${GMAIL_RECIPIENT:nick@avalr.com.ua}"

logging.level:
  ch.qos.logback: OFF
  org.apache.pulsar: OFF

usr:
  tcp:
    port-start: "${USR_CLIENT_PORT_START:8891}"
    batteries-cnt: "${USR_CLIENT_BATTERIES_CNT:10}"
    port-master: "${USR_CLIENT_PORT_MASTER:8898}"
    port-inverter-dacha: "${USR_CLIENT_PORT_INVERTER_DACHA:8899}"
    port-inverter-golego: "${USR_CLIENT_PORT_INVERTER_GOLEGO:8900}"
    monitor-inactivity-time-out: "${MONITOR_ACTIVITY_TIME_OUT:1200000}"
    margin-ms: "${MARGIN_MS:1200000}"
    check-rate: "${CHECK_RATE:60000}"
    infos:
      dir: "${USR_TCP_INFOS_DIR:./infos/}"
      fileName: "${USR_TCP_FILE_NAME_DIR:usrInfo.json}"
    logs:
      dir: "${USR_TCP_LOGS_DIR:./logs/}"
      error-prefix: "${USR_TCP_FILE_ERROR_PREFIX:usrTcpWiFiError}"
      today-prefix: "${USR_TCP_LOGS_TODAY_PREFIX:usrTcpWiFiToday}"
      yesterday-prefix: "${USR_TCP_LOGS_YESTERDAY_PREFIX:usrTcpWiFiYesterday}"
      error-limit: "${USR_TCP_LOGS_ERROR_LIMIT:2000}"
      # 30 min
      active-interval: "${LOGS_WRITE_INTERVAL:1800000}"
      # 8 min
      write-interval: "${LOGS_WRITE_INTERVAL:480000}"
      # USR_TCP_LOGS_ROTATION_CRON="0 45 13 * * *" 13:45
      # USR_TCP_LOGS_ROTATION_CRON="0 0 1 * * *" 01:00
      rotation-cron: "${USR_TCP_LOGS_ROTATION_CRON:0 0 1 * * *}"

---
spring:
  config.activate.on-cloud-platform: kubernetes
  lifecycle.timeout-per-shutdown-phase: 30s # Set the timeout for shutdown phases

